Glass.Data/Web References/wsPMGNFeAutorizacao/NFeAutorizacao4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFeAutorizacao4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeDadosMsgZip">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeResultMsg" type="tns:nFeAutorizacao4LoteResult" />
      <xs:complexType name="nFeAutorizacao4LoteResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="retEnviNFe" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="NFeAutorizacao4LoteZipResponse">
    <wsdl:part name="nfeResultMsg" element="tns:nfeResultMsg" />
  </wsdl:message>
  <wsdl:message name="NFeAutorizacao4LoteResponse">
    <wsdl:part name="nfeResultMsg" element="tns:nfeResultMsg" />
  </wsdl:message>
  <wsdl:message name="NFeAutorizacao4Lote">
    <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
  </wsdl:message>
  <wsdl:message name="NFeAutorizacao4LoteZip">
    <wsdl:part name="nfeDadosMsgZip" element="tns:nfeDadosMsgZip" />
  </wsdl:message>
  <wsdl:portType name="NFeAutorizacao4Soap">
    <wsdl:operation name="NFeAutorizacao4Lote">
      <wsdl:input name="NFeAutorizacao4Lote" message="tns:NFeAutorizacao4Lote" />
      <wsdl:output name="NFeAutorizacao4LoteResponse" message="tns:NFeAutorizacao4LoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="NFeAutorizacao4LoteZip">
      <wsdl:input name="NFeAutorizacao4LoteZip" message="tns:NFeAutorizacao4LoteZip" />
      <wsdl:output name="NFeAutorizacao4LoteZipResponse" message="tns:NFeAutorizacao4LoteZipResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeAutorizacao4SoapBinding" type="tns:NFeAutorizacao4Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NFeAutorizacao4Lote">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/NFeAutorizacao4Lote" style="document" />
      <wsdl:input name="NFeAutorizacao4Lote">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="NFeAutorizacao4LoteResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NFeAutorizacao4LoteZip">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/NFeAutorizacao4LoteZip" style="document" />
      <wsdl:input name="NFeAutorizacao4LoteZip">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="NFeAutorizacao4LoteZipResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeAutorizacao4">
    <wsdl:port name="NFeAutorizacao4Soap12" binding="tns:NFeAutorizacao4SoapBinding">
      <soap12:address location="https://nfe.fazenda.mg.gov.br/nfe2/services/NFeAutorizacao4" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>