Integracao/Glass.Integracao.Khan/Service References/KhanProdutosServiceReference/ProdutosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.ikhan.com.br/appskhan/knIntegrador/ProdutosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" />
  <xs:element name="SalvarProdutos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" minOccurs="0" name="prod" nillable="true" type="q1:Produtos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarProdutosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" minOccurs="0" name="SalvarProdutosResult" nillable="true" type="q2:Produtos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProdutos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodPRO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProdutosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" minOccurs="0" name="ConsultarProdutosResult" nillable="true" type="q3:ArrayOfProdutos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>