Glass.Data/Web References/wsPGONFeStatusServico/NFeStatusServico4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFeStatusServico4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeResultMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="NFeStatusServico4Service_nfeStatusServicoNFResponse">
    <part name="nfeStatusServicoNFResult" element="tns:nfeResultMsg" />
  </message>
  <message name="NFeStatusServico4Service_nfeStatusServicoNF">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
  </message>
  <portType name="NFeStatusServico4Service">
    <operation name="nfeStatusServicoNF">
      <input message="tns:NFeStatusServico4Service_nfeStatusServicoNF" />
      <output message="tns:NFeStatusServico4Service_nfeStatusServicoNFResponse" />
    </operation>
  </portType>
  <binding name="NFeStatusServico4ServiceBinding" type="tns:NFeStatusServico4Service">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeStatusServicoNF">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4/nfeStatusServicoNF" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeStatusServicoNFResult" />
      </output>
    </operation>
  </binding>
  <service name="NFeStatusServico4">
    <port name="NFeStatusServico4ServicePort" binding="tns:NFeStatusServico4ServiceBinding">
      <soap12:address location="http://nfe.sefaz.go.gov.br:80/nfe/services/NFeStatusServico4" />
    </port>
  </service>
</definitions>