Glass.Data/Web References/wsPGONFeAutorizacao/NFeAutorizacao4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFeAutorizacao4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeResultMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeDadosMsgZip">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="NFeAutorizacao4Service_nfeAutorizacaoLoteResponse">
    <part name="nfeAutorizacaoLoteResult" element="tns:nfeResultMsg" />
  </message>
  <message name="NFeAutorizacao4Service_nfeAutorizacaoLote">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
  </message>
  <message name="NFeAutorizacao4Service_nfeAutorizacaoLoteZIPResponse">
    <part name="nfeAutorizacaoLoteZIPResult" element="tns:nfeResultMsg" />
  </message>
  <message name="NFeAutorizacao4Service_nfeAutorizacaoLoteZIP">
    <part name="nfeDadosMsgZip" element="tns:nfeDadosMsgZip" />
  </message>
  <portType name="NFeAutorizacao4Service">
    <operation name="nfeAutorizacaoLote">
      <input message="tns:NFeAutorizacao4Service_nfeAutorizacaoLote" />
      <output message="tns:NFeAutorizacao4Service_nfeAutorizacaoLoteResponse" />
    </operation>
    <operation name="nfeAutorizacaoLoteZIP">
      <input message="tns:NFeAutorizacao4Service_nfeAutorizacaoLoteZIP" />
      <output message="tns:NFeAutorizacao4Service_nfeAutorizacaoLoteZIPResponse" />
    </operation>
  </portType>
  <binding name="NFeAutorizacao4ServiceBinding" type="tns:NFeAutorizacao4Service">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeAutorizacaoLote">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLote" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeAutorizacaoLoteResult" />
      </output>
    </operation>
    <operation name="nfeAutorizacaoLoteZIP">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLoteZIP" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsgZip" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeAutorizacaoLoteZIPResult" />
      </output>
    </operation>
  </binding>
  <service name="NFeAutorizacao4">
    <port name="NFeAutorizacao4Port" binding="tns:NFeAutorizacao4ServiceBinding">
      <soap12:address location="http://nfe.sefaz.go.gov.br:80/nfe/services/NFeAutorizacao4" />
    </port>
  </service>
</definitions>