Integracao/Glass.Integracao.Khan/Service References/KhanIndicadoresServiceReference/IndicadoresService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIndicadores">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Indicadores" nillable="true" type="tns:Indicadores" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndicadores" nillable="true" type="tns:ArrayOfIndicadores" />
  <xs:complexType name="Indicadores">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODMOE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VALOR" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Indicadores" nillable="true" type="tns:Indicadores" />
</xs:schema>