Integracao/Glass.Integracao.Khan/Service References/KhanIndicadoresServiceReference/IndicadoresService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.ikhan.com.br/appskhan/knIntegrador/IndicadoresService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" />
  <xs:element name="ConsultarIndicadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codempresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarIndicadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" minOccurs="0" name="ConsultarIndicadoresResult" nillable="true" type="q1:ArrayOfIndicadores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>