Glass.Data/Web References/wsPGONFeInutilizacao/NFeInutilizacao4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFeInutilizacao4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeResultMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="NFeInutilizacao4Service_nfeInutilizacaoNFResponse">
    <part name="nfeInutilizacaoNFResult" element="tns:nfeResultMsg" />
  </message>
  <message name="NFeInutilizacao4Service_nfeInutilizacaoNF">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
  </message>
  <portType name="NFeInutilizacao4Service">
    <operation name="nfeInutilizacaoNF">
      <input message="tns:NFeInutilizacao4Service_nfeInutilizacaoNF" />
      <output message="tns:NFeInutilizacao4Service_nfeInutilizacaoNFResponse" />
    </operation>
  </portType>
  <binding name="NFeInutilizacao4ServiceBinding" type="tns:NFeInutilizacao4Service">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeInutilizacaoNF">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4/nfeInutilizacaoNF" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeInutilizacaoNFResult" />
      </output>
    </operation>
  </binding>
  <service name="NFeInutilizacao4">
    <port name="NFeInutilizacao4ServicePort" binding="tns:NFeInutilizacao4ServiceBinding">
      <soap12:address location="http://nfe.sefaz.go.gov.br:80/nfe/services/NFeInutilizacao4" />
    </port>
  </service>
</definitions>