Glass.Data/Web References/wsPMGNFeInutilizacao/NFeInutilizacao4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFeInutilizacao4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeResultMsg" type="tns:nFeInutilizacao4Result" />
      <xs:complexType name="nFeInutilizacao4Result">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="retInutNFe" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeInutilizacao4">
    <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
  </wsdl:message>
  <wsdl:message name="nfeInutilizacao4Response">
    <wsdl:part name="nfeResultMsg" element="tns:nfeResultMsg" />
  </wsdl:message>
  <wsdl:portType name="NFeInutilizacao4Soap">
    <wsdl:operation name="nfeInutilizacao4">
      <wsdl:input name="nfeInutilizacao4" message="tns:nfeInutilizacao4" />
      <wsdl:output name="nfeInutilizacao4Response" message="tns:nfeInutilizacao4Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeInutilizacao4SoapBinding" type="tns:NFeInutilizacao4Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeInutilizacao4">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4/nfeInutilizacao4" style="document" />
      <wsdl:input name="nfeInutilizacao4">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nfeInutilizacao4Response">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeInutilizacao4">
    <wsdl:port name="NFeInutilizacao4Soap12" binding="tns:NFeInutilizacao4SoapBinding">
      <soap12:address location="https://nfe.fazenda.mg.gov.br/nfe2/services/NFeInutilizacao4" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>