Glass.Data/Web References/wsPGONFeRetornoAutorizacao/NFeRetAutorizacao4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRetAutorizacao4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFeRetAutorizacao4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRetAutorizacao4" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRetAutorizacao4" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeResultMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="NFeRetAutorizacao4Service_nfeRetAutorizacaoLoteResponse">
    <part name="nfeRetAutorizacaoLoteResult" element="tns:nfeResultMsg" />
  </message>
  <message name="NFeRetAutorizacao4Service_nfeRetAutorizacaoLote">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
  </message>
  <portType name="NFeRetAutorizacao4Service">
    <operation name="nfeRetAutorizacaoLote">
      <input message="tns:NFeRetAutorizacao4Service_nfeRetAutorizacaoLote" />
      <output message="tns:NFeRetAutorizacao4Service_nfeRetAutorizacaoLoteResponse" />
    </operation>
  </portType>
  <binding name="NFeRetAutorizacao4ServiceBinding" type="tns:NFeRetAutorizacao4Service">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeRetAutorizacaoLote">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRetAutorizacao4/nfeRetAutorizacaoLote" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeRetAutorizacaoLoteResult" />
      </output>
    </operation>
  </binding>
  <service name="NFeRetAutorizacao4">
    <port name="NFeRetAutorizacao4ServicePort" binding="tns:NFeRetAutorizacao4ServiceBinding">
      <soap12:address location="http://nfe.sefaz.go.gov.br:80/nfe/services/NFeRetAutorizacao4" />
    </port>
  </service>
</definitions>