Glass.Data/Web References/wsPGONFeConsultaProtocolo/NFeConsultaProtocolo4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFeConsultaProtocolo4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeResultMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="NFeConsultaProtocolo4Service_nfeConsultaNF">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
  </message>
  <message name="NFeConsultaProtocolo4Service_nfeConsultaNFResponse">
    <part name="nfeConsultaNFResult" element="tns:nfeResultMsg" />
  </message>
  <portType name="NFeConsultaProtocolo4Service">
    <operation name="nfeConsultaNF">
      <input message="tns:NFeConsultaProtocolo4Service_nfeConsultaNF" />
      <output message="tns:NFeConsultaProtocolo4Service_nfeConsultaNFResponse" />
    </operation>
  </portType>
  <binding name="NFeConsultaProtocolo4ServiceBinding" type="tns:NFeConsultaProtocolo4Service">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeConsultaNF">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4/nfeConsultaNF" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeConsultaNFResult" />
      </output>
    </operation>
  </binding>
  <service name="NFeConsultaProtocolo4">
    <port name="NFeConsultaProtocolo4ServicePort" binding="tns:NFeConsultaProtocolo4ServiceBinding">
      <soap12:address location="http://nfe.sefaz.go.gov.br:80/nfe/services/NFeConsultaProtocolo4" />
    </port>
  </service>
</definitions>