Glass.Data/Web References/WebGlass.WebService.CargaTributariaMedia/CargaTributariaMedia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://service.syncsoftwares.com.br/CargaTributariaMedia/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.syncsoftwares.com.br/CargaTributariaMedia/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://service.syncsoftwares.com.br/CargaTributariaMedia/">
      <s:element name="ObtemDadosCargaTributaria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnae" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtemDadosCargaTributariaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ObtemDadosCargaTributariaResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtemTabelaDados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnae" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtemTabelaDadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtemTabelaDadosResult" type="tns:ArrayOfCargaTributariaMediaCnae" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCargaTributariaMediaCnae">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CargaTributariaMediaCnae" nillable="true" type="tns:CargaTributariaMediaCnae" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CargaTributariaMediaCnae">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cnae" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CargaTributariaMedia" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="CargaTributariaFundo" type="s:float" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtemDadosCargaTributariaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtemDadosCargaTributaria" />
  </wsdl:message>
  <wsdl:message name="ObtemDadosCargaTributariaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtemDadosCargaTributariaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtemTabelaDadosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtemTabelaDados" />
  </wsdl:message>
  <wsdl:message name="ObtemTabelaDadosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtemTabelaDadosResponse" />
  </wsdl:message>
  <wsdl:portType name="CargaTributariaMediaSoap">
    <wsdl:operation name="ObtemDadosCargaTributaria">
      <wsdl:input message="tns:ObtemDadosCargaTributariaSoapIn" />
      <wsdl:output message="tns:ObtemDadosCargaTributariaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtemTabelaDados">
      <wsdl:input message="tns:ObtemTabelaDadosSoapIn" />
      <wsdl:output message="tns:ObtemTabelaDadosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CargaTributariaMediaSoap" type="tns:CargaTributariaMediaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtemDadosCargaTributaria">
      <soap:operation soapAction="http://service.syncsoftwares.com.br/CargaTributariaMedia/ObtemDadosCargaTributaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtemTabelaDados">
      <soap:operation soapAction="http://service.syncsoftwares.com.br/CargaTributariaMedia/ObtemTabelaDados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CargaTributariaMediaSoap12" type="tns:CargaTributariaMediaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtemDadosCargaTributaria">
      <soap12:operation soapAction="http://service.syncsoftwares.com.br/CargaTributariaMedia/ObtemDadosCargaTributaria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtemTabelaDados">
      <soap12:operation soapAction="http://service.syncsoftwares.com.br/CargaTributariaMedia/ObtemTabelaDados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CargaTributariaMedia">
    <wsdl:port name="CargaTributariaMediaSoap" binding="tns:CargaTributariaMediaSoap">
      <soap:address location="http://webservices.webglass.com.br/CargaTributariaMedia.asmx" />
    </wsdl:port>
    <wsdl:port name="CargaTributariaMediaSoap12" binding="tns:CargaTributariaMediaSoap12">
      <soap12:address location="http://webservices.webglass.com.br/CargaTributariaMedia.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>