Integracao/Glass.Integracao.Khan/Service References/KhanConsultasServiceReference/ConsultasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPedidoStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoStatus" nillable="true" type="tns:PedidoStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoStatus" nillable="true" type="tns:ArrayOfPedidoStatus" />
  <xs:complexType name="PedidoStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="datped" type="xs:dateTime" />
      <xs:element minOccurs="0" name="numped" type="xs:int" />
      <xs:element minOccurs="0" name="numped_int" type="xs:long" />
      <xs:element minOccurs="0" name="seqped" type="xs:int" />
      <xs:element minOccurs="0" name="seqped_int" type="xs:int" />
      <xs:element minOccurs="0" name="status_integracao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoStatus" nillable="true" type="tns:PedidoStatus" />
</xs:schema>