Glass.Data/Web References/wsPMGNFeConsulta/NFeConsulta4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsulta4" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFeConsulta4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsulta4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsulta4" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeResultMsg" type="tns:nFeConsulta4Result" />
      <xs:complexType name="nFeConsulta4Result">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="retConsSitNFe" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeConsulta4Response">
    <wsdl:part name="nfeResultMsg" element="tns:nfeResultMsg" />
  </wsdl:message>
  <wsdl:message name="nfeConsulta4">
    <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
  </wsdl:message>
  <wsdl:portType name="NFeConsulta4Soap">
    <wsdl:operation name="nfeConsulta4">
      <wsdl:input name="nfeConsulta4" message="tns:nfeConsulta4" />
      <wsdl:output name="nfeConsulta4Response" message="tns:nfeConsulta4Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeConsulta4SoapBinding" type="tns:NFeConsulta4Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeConsulta4">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsulta4/NFeConsulta4" style="document" />
      <wsdl:input name="nfeConsulta4">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nfeConsulta4Response">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeConsulta4">
    <wsdl:port name="NFeConsulta4Soap12" binding="tns:NFeConsulta4SoapBinding">
      <soap12:address location="https://nfe.fazenda.mg.gov.br/nfe2/services/NFeConsulta4" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>