Integracao/Glass.Integracao.Khan/Service References/KhanParceirosServiceReference/ParceirosService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mercado.khan.com.br/appskhan/knIntegrador/ParceirosService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://mercado.khan.com.br/appskhan/knIntegrador/ParceirosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" />
  <xs:element name="ListaParceiros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="args" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaParceirosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" minOccurs="0" name="ListaParceirosResult" nillable="true" type="q2:ArrayOfParceiros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>