Integracao/Glass.Integracao.Khan/Service References/KhanParceirosServiceReference/ParceirosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParceiros">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parceiros" nillable="true" type="tns:Parceiros" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParceiros" nillable="true" type="tns:ArrayOfParceiros" />
  <xs:complexType name="Parceiros">
    <xs:sequence>
      <xs:element minOccurs="0" name="AVISAR" type="xs:boolean" />
      <xs:element minOccurs="0" name="BLOQUEAR" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codsit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LimCred" type="xs:decimal" />
      <xs:element minOccurs="0" name="NomeTipoDoc1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nomsit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SITMEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="baifat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cepfat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cidfat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codcad" type="xs:int" />
      <xs:element minOccurs="0" name="codempresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endfat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endfat_num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estfat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomcad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomfan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numdoc1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numdoc2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipodoc1" type="xs:int" />
      <xs:element minOccurs="0" name="tipodoc2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parceiros" nillable="true" type="tns:Parceiros" />
</xs:schema>