Integracao/Glass.Integracao.Khan/Service References/KhanPedidoServiceReference/PedidoService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PedidoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mercado.khan.com.br/appskhan/knIntegrador/PedidoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mercado.khan.com.br/appskhan/knIntegrador/PedidoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mercado.khan.com.br/appskhan/knIntegrador/PedidoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KnIntegracao.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPedidoService_SalvarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_SalvarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_ConsultarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_ConsultarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_ExcluirPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_ExcluirPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_ListarCondicoesPagto_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCondicoesPagto" />
  </wsdl:message>
  <wsdl:message name="IPedidoService_ListarCondicoesPagto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCondicoesPagtoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPedidoService">
    <wsdl:operation name="SalvarPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoService/SalvarPedido" message="tns:IPedidoService_SalvarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoService/SalvarPedidoResponse" message="tns:IPedidoService_SalvarPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoService/ConsultarPedido" message="tns:IPedidoService_ConsultarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoService/ConsultarPedidoResponse" message="tns:IPedidoService_ConsultarPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoService/ExcluirPedido" message="tns:IPedidoService_ExcluirPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoService/ExcluirPedidoResponse" message="tns:IPedidoService_ExcluirPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCondicoesPagto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoService/ListarCondicoesPagto" message="tns:IPedidoService_ListarCondicoesPagto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoService/ListarCondicoesPagtoResponse" message="tns:IPedidoService_ListarCondicoesPagto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPedidoService" type="tns:IPedidoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SalvarPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidoService/SalvarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidoService/ConsultarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidoService/ExcluirPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCondicoesPagto">
      <soap:operation soapAction="http://tempuri.org/IPedidoService/ListarCondicoesPagto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PedidoService">
    <wsdl:port name="BasicHttpBinding_IPedidoService" binding="tns:BasicHttpBinding_IPedidoService">
      <soap:address location="http://mercado.khan.com.br/appskhan/knIntegrador/PedidoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>