Glass.Data/Web References/wsPMGNFeConsultaProtocolo/NFeConsultaProtocolo4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NFeConsultaProtocolo4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeResultMsg" type="tns:nfeResultMsg" />
      <xs:complexType name="nfeResultMsg">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="retConsSitNFe" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeConsultaNFResponse">
    <wsdl:part name="nfeConsultaNFResult" element="tns:nfeResultMsg" />
  </wsdl:message>
  <wsdl:message name="nfeConsultaNF">
    <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
  </wsdl:message>
  <wsdl:portType name="NFeConsultaProtocolo4Soap">
    <wsdl:operation name="nfeConsultaNF">
      <wsdl:input name="nfeConsultaNF" message="tns:nfeConsultaNF" />
      <wsdl:output name="nfeConsultaNFResponse" message="tns:nfeConsultaNFResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeConsultaProtocolo4SoapBinding" type="tns:NFeConsultaProtocolo4Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeConsultaNF">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4/nfeConsultaNF" style="document" />
      <wsdl:input name="nfeConsultaNF">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nfeConsultaNFResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeConsultaProtocolo4">
    <wsdl:port name="NFeConsultaProtocolo4Soap" binding="tns:NFeConsultaProtocolo4SoapBinding">
      <soap12:address location="https://nfe.fazenda.mg.gov.br/nfe2/services/NFeConsultaProtocolo4" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>