Glass.Data/Web References/wsPGONFeConsultaCadastro/CadConsultaCadastro4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CadConsultaCadastro4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeResultMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="CadConsultaCadastro4Service_consultaCadastro">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
  </message>
  <message name="CadConsultaCadastro4Service_consultaCadastroResponse">
    <part name="consultaCadastroResult" element="tns:nfeResultMsg" />
  </message>
  <portType name="CadConsultaCadastro4Service">
    <operation name="consultaCadastro">
      <input message="tns:CadConsultaCadastro4Service_consultaCadastro" />
      <output message="tns:CadConsultaCadastro4Service_consultaCadastroResponse" />
    </operation>
  </portType>
  <binding name="CadConsultaCadastro4ServiceBinding" type="tns:CadConsultaCadastro4Service">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="consultaCadastro">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4/consultaCadastro" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
      </input>
      <output>
        <soap12:body use="literal" parts="consultaCadastroResult" />
      </output>
    </operation>
  </binding>
  <service name="CadConsultaCadastro4">
    <port name="CadConsultaCadastro4ServicePort" binding="tns:CadConsultaCadastro4ServiceBinding">
      <soap12:address location="http://nfe.sefaz.go.gov.br:80/nfe/services/CadConsultaCadastro4" />
    </port>
  </service>
</definitions>